<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-light justify-content-between">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" >
      <form class="form-inline my-2 my-lg-0" (ngSubmit)="searchProblem()">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [formControl]="searchBox">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#">{{brandName}}</a>
    </div>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav ml-auto">

        <li>
        <button type="button" class="btn btn-primary" *ngIf="!auth.loggedIn" (click) = "login()">Sign In</button>
        </li>

        <li class="nav-item dropdown" *ngIf="auth.loggedIn && auth.userProfile">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class= "navbar-icon" src= {{auth.userProfile.picture}}>
            {{auth.userProfile.nickname}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/profile']">My Profile</a>
              <a class="dropdown-item" href="#">My Favourite</a>
              <a class="dropdown-item" href="#">My Submission</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" (click) = "logout()" >Logout</a>
          </div>
        </li>

      </ul>
    </div>
    <!--<ul class="nav navbar-nav navbar-right">-->

        <!--<li>-->
          <!--<button type="button" class="btn btn-primary">Sign in</button>-->
        <!--</li>-->

        <!--<li class="nav-item dropdown">-->
          <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--{{username}}-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
            <!--<a class="dropdown-item" href="#">My Profile</a>-->
            <!--<a class="dropdown-item" href="#">My Favourite</a>-->
            <!--<a class="dropdown-item" href="#">My Submission</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#" >Logout</a>-->
          <!--</div>-->
        <!--</li>-->

      <!--</ul>-->

    <!--</div>-->
  </nav>
</div>
